:root {
  --primary-colour: rgb(136, 166, 138, 0.7);
  --secondary-colour: rgb(48, 89, 126, 0.7);
  --heading-font: "Lora", serif;
  --paragraph-font: "Montserrat", sans-serif;
}

.bodyhero {
  background-image: linear-gradient(rgba(136, 166, 138, 0.7), white);
}

.h1col {
  padding: 50px;
  margin-top: 40px;
}
.abouth1col {
  padding: 50px;
  margin-top: 40px;
}
.h1hero {
  font-family: var(--heading-font);
  font-size: 88px;
}
.h2hero {
  font-family: var(--paragraph-font);
  font-size: 35px;
  font-weight: lighter;
}

.abouth1hero {
  font-family: var(--heading-font);
  font-size: 65px;
  text-align: left;
  margin-top: 20px;
}
.abouth2hero {
  font-family: var(--paragraph-font);
  font-size: 28px;
  font-weight: normal;
  text-align: left;
}
.project-h1 {
  font-family: var(--heading-font);
  font-size: 50px;
  font-weight: normal;
  padding-top: 40px;
  padding-bottom: 30px;
}
.about-h3 {
  font-family: var(--paragraph-font);
  font-weight: lighter;
  font-size: 20px;
  text-align: left;
  line-height: 1.5;
}
.weather-app-img {
  border: 2px solid rgb(136, 166, 138);
  border-radius: 11px;
  display: block;
  width: 100%;
}
.about-get-in-touch {
  display: block;
  margin-top: 10px;
}
button {
  background-color: var(--primary-colour);
  padding: 10px 45px;
  border-radius: 40px;
  font-size: 20px;
  margin-top: 30px;
  margin-bottom: 30px;
  border: 1px solid white;
  color: white;
  font-family: "Montserrat", sans-serif;
}
button:hover,
.launch-link:hover {
  background-color: var(--secondary-colour);
  border: 1px solid white;
  color: white;
  transition: ease-in-out;
}

.button-two {
  background-color: white;
  color: var(--primary-colour);
  font-weight: normal;
}
.h1-grid {
  font-family: var(--heading-font);
  font-size: 30px;
}
.h2-grid {
  font-family: var(--paragraph-font);
  font-weight: lighter;
  font-size: 20px;
}
.h3-grid {
  font-family: var(--paragraph-font);
  font-weight: lighter;
  font-size: 15px;
}
.text-grid {
  padding-top: 60px;
  padding-left: 25px;
  margin-bottom: 20px;
}
.launch-link {
  background-color: var(--primary-colour);
  padding: 10px 45px;
  border-radius: 40px;
  font-size: 17px;
  margin-top: 30px;
  margin-bottom: 30px;
  border: 1px solid white;
  color: white;
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
}

.container {
  margin-top: 60px;
}
.container-about {
  width: 80%;
  margin: auto;
  padding-left: 90px;
}
.navigbar {
  background-color: var(--primary-colour);
}
.nav-title {
  font-family: var(--heading-font);
  font-weight: bolder;
  font-size: 25px;
}
.nav-title:hover {
  font-weight: bolder;
}
.nav-menu {
  font-family: var(--heading-font);
  font-size: 23px;
}

.footer-basic {
  background-color: var(--primary-colour);
  border: 2px solid white;
  border-radius: 40px;
  color: white;
  padding: 20px;
  padding-bottom: 10px;
}
.footer-box {
  margin-top: 120px;
}
.about-footer-box {
  margin-top: 40px;
}
footer {
  background-image: linear-gradient(white, rgba(136, 166, 138, 0.7));
}

.footer-heading {
  font-family: var(--heading-font);

  font-size: 38px;
  color: black;
  font-weight: normal;
}
.footer-p {
  font-family: var(--paragraph-font);
  font-size: 25px;
  font-weight: lighter;
  color: black;
}
.social-links {
  font-size: 40px;
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
}
.social-links a {
  color: black;
  margin: 40px;
  border: 2px solid var(--primary-colour);
  border-radius: 200px;
  padding: 13px 21px;
  font-size: 25px;
  background-color: white;
}

.social-links a:hover {
  background-color: var(--secondary-colour);
  color: white;
  border: 2px solid white;
  transition: ease-in-out;
}
.final {
  font-family: var(--paragraph-font);
  font-size: 11px;
  background-color: black;
  color: white;
  text-align: center;
  text-decoration: none;
  padding: 10px;
}
.final a {
  text-decoration: none;
  color: white;
}
.final a:hover {
  color: var(--primary-colour);
}

.portrait-image {
  border-radius: 250px;
  display: block;

  width: 400px;
  margin-top: 120px;

  border: 2px solid white;
}
@media (max-width: 1000px) {
  .h1hero {
    text-align: center;
    font-size: 65px;
  }
  .h2hero {
    text-align: center;
  }

  .weather-app-img {
    display: none;
  }
  .text-grid {
    text-align: center;
  }
  .social-links a {
    font-size: 18px;
    margin: 10px 20px;
  }
  .footer-heading {
    font-size: 30px;
  }
  .footer-p {
    font-size: 20px;
  }
  .button-two {
    font-size: 20px;
    margin-top: 20px;
  }

  .button-two {
    font-size: 15px;
    padding: 10px, 35px;
  }
  .get-in-touch {
    display: block;
    margin: 40px auto;
  }
  .container-about {
    width: auto;
    padding-left: 10px;
  }
  .about-h3,
  .abouth1hero,
  .abouth2hero {
    text-align: center;
  }
  .abouth1hero {
    font-size: 51px;
  }
  .abouth2hero {
    font-size: 28px;
  }
  .about-h3 {
    font-size: 17px;
  }
  .portrait-image {
    margin-top: auto;
  }
  .about-get-in-touch {
    display: block;
    margin: auto;
  }
  .container {
    margin-top: 0px;
  }
  .h1col {
    padding-bottom: 5px;
  }
  .project-h1 {
    text-align: center;
    font-size: 35px;
  }
  body {
    width: 100%;
  }
}
