:root {
  --primary-colour: rgb(136, 166, 138, 0.5);
  --secondary-colour: rgb(36, 82, 122);
  --heading-font: "Lora", serif;
  --paragraph-font: "Montserrat", sans-serif;
}

.bodyhero {
  background-image: linear-gradient(rgba(136, 166, 138, 0.7), white);
}

.h1col {
  padding: 50px;
  margin-top: 40px;
}

.h1hero {
  font-family: var(--heading-font);
  font-size: 88px;
}
.h2hero {
  font-family: var(--paragraph-font);
  font-size: 35px;
  font-weight: lighter;
}

.weather-app-img {
  border: 5px solid rgb(136, 166, 138);
  border-radius: 11px;
  display: block;

  width: 100%;
}

button {
  background-color: var(--primary-colour);
  padding: 10px 45px;
  border-radius: 40px;
  font-size: 20px;
  margin-top: 30px;
  margin-bottom: 30px;
  border: 1px solid white;
  color: white;
  font-family: "Montserrat", sans-serif;
}
button:hover {
  background-color: white;
  border: 1px solid rgb(136, 166, 138);
  color: rgb(136, 166, 138);
  transition: ease-in-out;
}
.h1-grid {
  font-family: var(--heading-font);
  font-size: 30px;
}
.h2-grid {
  font-family: var(--paragraph-font);
  font-weight: lighter;
  font-size: 20px;
}
.h3-grid {
  font-family: var(--paragraph-font);
  font-weight: lighter;
  font-size: 15px;
}
.text-grid {
  padding-top: 60px;
  padding-left: 25px;
  margin-bottom: 20px;
}
.launch-link {
  background-color: rgba(136, 166, 138, 0.5);
  padding: 10px 45px;
  border-radius: 40px;
  font-size: 17px;
  margin-top: 30px;
  margin-bottom: 30px;
  border: 1px solid white;
  color: white;
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  margin-top: 20px;
}

.launch-link:hover {
  background-color: white;
  border: 1px solid rgb(136, 166, 138);
  color: rgb(136, 166, 138);
  transition: ease-in-out;
}
.container {
  margin-top: 60px;
}
.navigbar {
  background-color: var(--primary-colour);
}
.nav-title {
  font-family: var(--heading-font);
  font-weight: bolder;
  font-size: 25px;
}
.nav-menu {
  font-family: var(--heading-font);
  font-size: 23px;
}
.footer-box {
  background-color: var(--primary-colour);
  border: 2px solid white;
  border-radius: 100px;

  padding: 30px;
  padding-left: 50px;
}
footer {
  background-image: linear-gradient(white, rgba(136, 166, 138, 0.7));
}

.footer-heading {
  font-family: var(--heading-font);

  font-size: 45px;
  color: black;
  font-weight: normal;
}
.footer-p {
  font-family: var(--paragraph-font);
  font-size: 28px;
  font-weight: lighter;
  color: black;
}
